<h1>Contacteer ons</h1>

<form [formGroup]="contactForm" (ngSubmit)="onSubmit()">

    <label>
      Name:
      <input type="text" formControlName="name">
      <div *ngIf="submitted && contactForm.controls.name.errors" class="error">
        <div *ngIf="contactForm.controls.name.errors.required">Je naam is vereist</div>
      </div>
    </label>

    <label>
      Message:
      <textarea formControlName="message"></textarea>
      <div *ngIf="submitted && contactForm.controls.message.errors" class="error">
        <div *ngIf="contactForm.controls.message.errors.required">Een bericht is vereist</div>
      </div>
    </label>

    <input type="submit" value="Send message" class="cta">

  </form>
